::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}

/*vertical track*/
::-webkit-scrollbar-track:vertical {
    background-image: url("./scrollbar/scrollbar-track-vertical-bg.png");
    background-size: 12px 100%;
    background-position: center;
}

/*horizontal track*/
::-webkit-scrollbar-track:horizontal {
    background-image: url("./scrollbar/scrollbar-track-horizontal-bg.png");
    background-size: 100% 12px;
    background-position: center;
}

/*vertical thumb*/
::-webkit-scrollbar-thumb:vertical {
    background-image: url("./scrollbar/scrollbar-ver-thumb.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 12px 100%;
    border-radius: 12px;
}

/*horizontal thumb*/
::-webkit-scrollbar-thumb:horizontal {
    background-image: url("./scrollbar/scrollbar-hor-thumb.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 12px;
    border-radius: 6px;
}

/*vertical decrement button*/
::-webkit-scrollbar-button:single-button:end:vertical,
::-webkit-scrollbar-button:single-button:decrement:vertical {
    height: 15px;
    background-image: url("./scrollbar/scrollbar-d-v.png");
    background-size: 12px 12px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:decrement:vertical:hover {
    background-image: url("./scrollbar/scrollbar-d-v-h.png");
}

::-webkit-scrollbar-button:single-button:decrement:vertical:active {
    background-image: url("./scrollbar/scrollbar-d-v-a.png");
}

/*vertical increment button*/
::-webkit-scrollbar-button:single-button:end:vertical,
::-webkit-scrollbar-button:single-button:increment:vertical {
    background-image: url("./scrollbar/scrollbar-i-v.png");
    background-size: 12px 12px;
    background-position: 0px 3px;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:increment:vertical:hover {
    background-image: url("./scrollbar/scrollbar-i-v-h.png");
}

::-webkit-scrollbar-button:single-button:increment:vertical:active {
    background-image: url("./scrollbar/scrollbar-i-v-a.png");
}

/*horizontal decrement button*/
::-webkit-scrollbar-button:single-button:end:horizontal,
::-webkit-scrollbar-button:single-button:decrement:horizontal {
    width: 15px;
    background-image: url("./scrollbar/scrollbar-d-h.png");
    background-size: 12px 12px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:decrement:horizontal:hover {
    background-image: url("./scrollbar/scrollbar-d-h-h.png");
}

::-webkit-scrollbar-button:single-button:decrement:horizontal:active {
    background-image: url("./scrollbar/scrollbar-d-h-a.png");
}

/*horizontal increment button*/
::-webkit-scrollbar-button:single-button:end:horizontal,
::-webkit-scrollbar-button:single-button:increment:horizontal {
    background-image: url("./scrollbar/scrollbar-i-h.png");
    background-size: 12px 12px;
    background-position: 3px 0px;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:increment:horizontal:hover {
    background-image: url("./scrollbar/scrollbar-i-h-h.png");
}

::-webkit-scrollbar-button:single-button:increment:horizontal:active {
    background-image: url("./scrollbar/scrollbar-i-h-a.png");
}

/*corner*/
::-webkit-scrollbar-corner {
    background-color: #062656;
}

/*小滚动条设置*/
.small-scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 2px;
}

.small-scroll::-webkit-scrollbar-track:horizontal {
    background-image: url("./scrollbar/small-scroll-x-bg.png");
    background-size: 100% 4px;
    background-position: 0px 0px;
}

.small-scroll::-webkit-scrollbar-track:horizontal:hover {
    background-image: url("./scrollbar/small-scroll-x-bg.png");
}

.small-scroll::-webkit-scrollbar-button:end, ::-webkit-scrollbar-button:decrement:horizontal {
    width: 0px;
}

.small-scroll::-webkit-scrollbar-button:end, ::-webkit-scrollbar-button:increment:horizontal {
    width: 0px;
}

.small-scroll::-webkit-scrollbar-thumb:horizontal {
    background-image: url("./scrollbar/small-scroll-x-thumb.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    border-radius: 2px;
}
