.app-image-list {
  display: grid;
  grid-template-columns: repeat(6, 96px);
  grid-template-rows: repeat(6, 96px);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  .image-item {
      img {
          cursor: pointer;
          width: 96px;
          object-fit: contain;
          height: 96px;
      }
      .image-title {
          width: 96px;
          height: 20px;
          text-align: center;
          overflow: hidden;
      }
  }
}

.app-image-list-icon {
    display: grid;
    grid-template-columns: repeat(6, 48px);
    grid-template-rows: repeat(6, 48px);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    .image-item {
        img {
            cursor: pointer;
            width: 48px;
            object-fit: contain;
            height: 48px;
        }
        .image-title {
            width: 48px;
            height: 20px;
            text-align: center;
            overflow: hidden;
        }
    }
  }