.moveable-control {
  width: 10px!important;
  height: 10px!important;
  border: 1px solid var(--semi-color-primary)!important;
  box-sizing: border-box;
  border-radius: 0;
  background: #fff!important;
  margin-top: -5px!important;
  margin-left: -5px!important;
  z-index: 10;
}

.moveable-line {
  background: var(--semi-color-primary)!important;
}

.workspace {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var( --semi-color-fill-0);
  .viewport-container {
      background: var(--semi-color-bg-0);
  }
}
