html, body {
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
    color: var(--semi-color-bg-0);
}
::-webkit-scrollbar-thumb:hover {
    color:var(--semi-color-fill-0);
}
::-webkit-scrollbar-thumb:active {
    color: var(--semi-color-fill-0);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-corner {
    display: none;
}

// 对semi样式的重写
.semi-input-wrapper {
  .semi-input {
    padding-left: 6px;
    padding-right: 6px;
  }
  .semi-input-append {
    padding: 0 5px;
  }
}

.workspace {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--semi-color-fill-0);
  .viewport-container {
      background: var(--semi-color-bg-0);
  }
}


.status-drag-over {
  background-color: var(--semi-color-primary-light-default);
  border: 2px dashed var(--semi-color-primary);
}

slot {
  position: relative;
}

