.movable-panel {
    position: absolute;
    background: var(--semi-color-bg-0);
    border: 1px solid var(--semi-color-border);
    padding: 4px;
    border-radius: 5px;
    z-index: 1000;

    .panel-title {
        height: 24px;
        display: flex;
        vertical-align: middle;
        align-items: center;
        .semi-icon-handle {
            cursor: move;
        }
    }

    .panel-content {
        height: 100%;
    }
    .semi-tabs {
        height: 100%;
        .semi-tabs-bar {
            padding-left: 16px;
            .semi-tabs-tab {
                padding: 3px 5px;
                &.semi-tabs-tab-active {
                    padding: 3px 5px;
                }
            }
        }
        .semi-tabs-content {
            height: calc(100% - 24px);
            .semi-tabs-pane {
                height: 100%;
                .semi-tabs-pane-motion-overlay {
                    height: 100%;
                }
            }
        }
    }

    .semi-table-container {
        .semi-table-thead {
            th.semi-table-row-head {
                padding:2px 5px;
            }
        }
        td.semi-table-row-cell {
            padding:2px 5px;
        }
    }

}