.movable-panel {
    position: absolute;
    background: var(--semi-color-bg-0);
    border: 1px solid var(--semi-color-border);
    padding: 4px;
    border-radius: 5px;
    z-index: 1000;

    .title-bar {
        position: relative;
        height: 1px;
        z-index: 1;
        .title-text {
            position: absolute;
            left: 30px;
            top: 3px;
        }
        .toggle-search {
            z-index: 101;
            background-color: var(--semi-color-bg-2);
            .semi-input-suffix {
                cursor: pointer;
            }
        }
        .icon-handle {
            position: absolute;
            top: 5px;
            left: 5px;
            cursor: move;
        }
        .icon-search {
            position: absolute;
            top: 2px;
            right: 5px;
        }
        .icon-close {
            position: absolute;
            top: 2px;
            right: 5px;
        }
    }

    .panel-content {
        height: 100%;
    }
    .semi-tabs {
        height: 100%;
        .semi-tabs-bar {
            padding-left: 32px;
            .semi-tabs-tab {
                padding: 3px 5px;
                &.semi-tabs-tab-active {
                    padding: 3px 5px;
                }
            }
        }
        .semi-tabs-content {
            height: calc(100% - 24px);
            .semi-tabs-pane {
                height: 100%;
                .semi-tabs-pane-motion-overlay {
                    height: 100%;
                }
            }
        }
    }
}