.moveable-control {
  width: 8px!important;
  height: 8px!important;
  border: 1px solid var(--semi-color-primary)!important;
  box-sizing: border-box;
  border-radius: 0!important;
  background: #fff!important;
  margin-top: -4px!important;
  margin-left: -4px!important;
  z-index: 10;
}
.moveable-control-box {
  z-index: 100!important;
}

.moveable-line {
  background: var(--semi-color-primary)!important;
}

.workspace-movable .moveable-control {
  opacity: 0;
}

.workspace-movable .moveable-line {
  opacity: 0;
}