.object-form {
    .semi-space.with-code-expr {
        .semi-button-tertiary {
        visibility: hidden;
        }
        .semi-button-tertiary.is-open {
        visibility: initial;
        } 
        &:hover {
        .semi-button-tertiary {
            visibility: initial;
        } 
        }
    }
    .semi-form-field-main>.semi-checkbox {
        padding: 6px 0;
    }
}
