.input-padding {
  position: relative;
  margin: 20px 40px 20px 10px;
  border: 1px solid #ece;
  height: 40px;
  .input-padding-number {
    position: absolute;
    background-color: var(--semi-color-bg-0);
    width: 60px;
    &.order-0 {
      left: 50%;
      margin-left: -35px;
      top: -12px;
    }
    &.order-1 {
      left: 100%;
      margin-left: -25px;
      top: 5px;
    }
    &.order-2 {
      left: 50%;
      margin-left: -35px;
      top: 28px;
    }
    &.order-3 {
      left: 0;
      margin-left: -25px;
      top: 5px;
    }
  }
}