html, body {
    user-select: none;
    -webkit-tap-highlight-color: none;
    width: 100%;
    height: 100%;
}

:focus-visible {
  outline: none;
}

.is-hidden {
    display: none;
}

.ridge-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.status-Loading {
    background: linear-gradient(90deg,#2e32380d 25%,#2e323817 44%,#2e32380d 88%);
    background-size: 400% 100%;
    animation: skeleton-loading 3s ease infinite;
    animation-fill-mode: forwards;
}

.status-not-found {
    background-color: rgba(253, 185, 165, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(142, 8, 5);

    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="14" height="14" viewBox="0 0 14 14"%3E%3Cpath fill="none" stroke="rgba(142%2C 8%2C 5%2C 0.5)" stroke-linecap="round" stroke-linejoin="round" d="m8.54 9.7l2-2l2.12-2.12a3 3 0 0 0 0-4.24h0a3 3 0 0 0-4.24 0L7 2.76L5.46 4.3M3.5 6.26L1.38 8.38a3 3 0 0 0 0 4.24h0a3 3 0 0 0 4.24 0l1-1M4.17 2.05l5.66 9.9"%2F%3E%3C%2Fsvg%3E');
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}