
@keyframes translateUpDown {
    0% {
      /* transform: translateY(calc(var(--distance) * 1px)); */
      transform: translateY(var(--distance));
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes translateLeftRight {
    0% {
      /* transform: translateY(calc(var(--distance) * 1px)); */
      transform: translateX(var(--distance));
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes gradually {
    0% {
        transform: scale(var(--scaleFrom));
        opacity: var(--opcaityFrom);
    }
    100% {
        transform: scale(var(--scaleTo));
        opacity: var(--opcaityTo);
    }
}

@keyframes scale {
    0% {
        transform: scale(var(--scaleFrom));
        opacity: var(--opcaityFrom);
    }
    100% {
        transform: scale(var(--scaleTo));
        opacity: var(--opcaityTo);
    }
}