.component-panel {
  .package-icon {
    width: 22px;
    height: 22px;
    font-size: 18px;
    text-align: center;
    // -webkit-mask-size: 18px auto;
    // background: var(--semi-color-text-2);
    // background-size: cover;
    // background-repeat: no-repeat; 
    img {
      object-fit: contain;
      width: 22px;
      height: 22px;
    }
  }
  
  .semi-tabs-bar-left {
    .semi-tabs-tab {
      padding: 6px;
    }
  }
  .component-container {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    height: 70px;
    background-color: var(--semi-color-tertiary-light-default);
    cursor: pointer;
    &:hover {
      background-color: var( --semi-color-primary-light-hover);
    }
    i {
      font-size: 2em;
      margin-bottom: 5px;
    }
    .image-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;

      img.img-only {
        width: 44px;
        height: auto;
        margin-bottom: 0;
      }
      img {
        width: 32px;
        height: 32px;
        margin-bottom: 5px;
        // max-width: 85%;
        // max-height: 90%;
      }
    }
    .component-icon {
      width: 36px;
      height: 36px;
      -webkit-mask-size: 36px auto;
      background: linear-gradient(145deg, #8cb8ff, #1c85ff);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .font-icon {
      font-size: 28px;
      padding-top: 6px;
      height: 40px;
      text-align: center;
      color: var(--semi-color-secondary);
    }
  }
}



.component-add-panel .package-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 2px;
}

.component-add-panel .semi-tabs-bar-button .semi-tabs-tab {
  padding: 8px 3px;
}

.component-add-panel .package-tab img {
width: 24px;
height: 24px;
}

