body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  --B100: #e1eaff;
  --B200: #bacefd;
  --B300: #82a7fc;
  --B300-raw: 130,167,252;
  --B400: #4e83fd;
  --B400-raw: 78,131,253;
  --B50: #f0f4ff;
  --B50-raw: 240,244,255;
  --B500: #3370ff;
  --B500-raw: 51,112,255;
  --B600: #245bdb;
  --B600-raw: 36,91,219;
  --B700: #1c4cba;
  --B700-raw: 28,76,186;
  --B800: #133c9a;
  --B800-raw: 19,60,154;
  --B900: #0c296e;
  --B900-raw: 12,41,110;
  --C100: #fdddef;
  --C100-raw: 253,221,239;
  --C200: #f9aed9;
  --C200-raw: 249,174,217;
  --C300: #f57ac0;
  --C300-raw: 245,122,192;
  --C400: #f14ba9;
  --C400-raw: 241,75,169;
  --C50: #fef1f8;
  --C50-raw: 254,241,248;
  --C500: #f01d94;
  --C500-raw: 240,29,148;
  --C600: #c71077;
  --C600-raw: 199,16,119;
  --C700: #9e1361;
  --C700-raw: 158,19,97;
  --C800: #7a0f4b;
  --C800-raw: 122,15,75;
  --C900: #520a32;
  --C900-raw: 82,10,50;
  --G100: #d9f5d6;
  --G100-raw: 217,245,214;
  --G200: #b7edb1;
  --G200-raw: 183,237,177;
  --G300: #8ee085;
  --G300-raw: 142,224,133;
  --G400: #62d256;
  --G400-raw: 98,210,86;
  --G50: #f0fbef;
  --G50-raw: 240,251,239;
  --G500: #34c724;
  --G500-raw: 52,199,36;
  --G600: #2ea121;
  --G600-raw: 46,161,33;
  --G700: #237b19;
  --G700-raw: 35,123,25;
  --G800: #186010;
  --G800-raw: 24,96,16;
  --G900: #124b0c;
  --G900-raw: 18,75,12;
  --I100: #e0e2fa;
  --I100-raw: 224,226,250;
  --I200: #b4b9f3;
  --I200-raw: 180,185,243;
  --I300: #7b83ea;
  --I300-raw: 123,131,234;
  --I400: #616ae5;
  --I400-raw: 97,106,229;
  --I50: #f2f3fd;
  --I50-raw: 242,243,253;
  --I500: #4954e6;
  --I500-raw: 73,84,230;
  --I600: #2933c7;
  --I600-raw: 41,51,199;
  --I700: #161fa2;
  --I700-raw: 22,31,162;
  --I800: #0a1285;
  --I800-raw: 10,18,133;
  --I900: #0c1264;
  --I900-raw: 12,18,100;
  --L100: #eef6c6;
  --L100-raw: 238,246,198;
  --L200: #dfee96;
  --L200-raw: 223,238,150;
  --L300: #d2e76a;
  --L300-raw: 210,231,106;
  --L400: #c3dd40;
  --L400-raw: 195,221,64;
  --L50: #f7fae5;
  --L50-raw: 247,250,229;
  --L500: #b3d600;
  --L500-raw: 179,214,0;
  --L600: #8fac02;
  --L600-raw: 143,172,2;
  --L700: #667901;
  --L700-raw: 102,121,1;
  --L800: #495700;
  --L800-raw: 73,87,0;
  --L900: #354200;
  --L900-raw: 53,66,0;
  --N00: #fff;
  --N00-raw: 255,255,255;
  --N100: #f2f3f5;
  --N100-raw: 242,243,245;
  --N1000: #000;
  --N1000-raw: 0,0,0;
  --N200: #eff0f1;
  --N200-raw: 239,240,241;
  --N300: #dee0e3;
  --N300-raw: 222,224,227;
  --N350: #d0d3d6;
  --N350-raw: 208,211,214;
  --N400: #bbbfc4;
  --N400-raw: 187,191,196;
  --N50: #f5f6f7;
  --N50-raw: 245,246,247;
  --N500: #8f959e;
  --N500-raw: 143,149,158;
  --N600: #646a73;
  --N600-raw: 100,106,115;
  --N650: #51565d;
  --N650-raw: 81,86,93;
  --N700: #373c43;
  --N700-raw: 55,60,67;
  --N800: #2b2f36;
  --N800-raw: 43,47,54;
  --N900: #1f2329;
  --N900-raw: 31,35,41;
  --N950: #0f1114;
  --N950-raw: 15,17,20;
  --O100: #feead2;
  --O100-raw: 254,234,210;
  --O200: #fed4a4;
  --O200-raw: 254,212,164;
  --O300: #ffba6b;
  --O300-raw: 255,186,107;
  --O400: #ffa53d;
  --O400-raw: 255,165,61;
  --O50: #fff5eb;
  --O50-raw: 255,245,235;
  --O500: #f80;
  --O500-raw: 255,136,0;
  --O600: #de7802;
  --O600-raw: 222,120,2;
  --O700: #b26206;
  --O700-raw: 178,98,6;
  --O800: #8f4f04;
  --O800-raw: 143,79,4;
  --O900: #6b3900;
  --O900-raw: 107,57,0;
  --P100: #ece2fe;
  --P100-raw: 236,226,254;
  --P200: #cdb2fa;
  --P200-raw: 205,178,250;
  --P300: #ad82f7;
  --P300-raw: 173,130,247;
  --P400: #935af6;
  --P400-raw: 147,90,246;
  --P50: #f6f1fe;
  --P50-raw: 246,241,254;
  --P500: #7f3bf5;
  --P500-raw: 127,59,245;
  --P600: #6425d0;
  --P600-raw: 100,37,208;
  --P700: #4e1ba7;
  --P700-raw: 78,27,167;
  --P800: #380d82;
  --P800-raw: 56,13,130;
  --P900: #270561;
  --P900-raw: 39,5,97;
  --R100: #fde2e2;
  --R100-raw: 253,226,226;
  --R200: #fbbfbc;
  --R200-raw: 251,191,188;
  --R300: #f98e8b;
  --R300-raw: 249,142,139;
  --R400: #f76964;
  --R400-raw: 247,105,100;
  --R50: #fef1f1;
  --R50-raw: 254,241,241;
  --R500: #f54a45;
  --R500-raw: 245,74,69;
  --R600: #d83931;
  --R600-raw: 216,57,49;
  --R700: #ac2f28;
  --R700-raw: 172,47,40;
  --R800: #812520;
  --R800-raw: 129,37,32;
  --R900: #621c18;
  --R900-raw: 98,28,24;
  --S100: #ffc;
  --S100-raw: 255,255,204;
  --S200: #fffca3;
  --S200-raw: 255,252,163;
  --S300: #fff67a;
  --S300-raw: 255,246,122;
  --S400: #fff258;
  --S400-raw: 255,242,88;
  --S50: #fefff0;
  --S50-raw: 254,255,240;
  --S500: #ffe928;
  --S500-raw: 255,233,40;
  --S600: #e5ce00;
  --S600-raw: 229,206,0;
  --S700: #c2a800;
  --S700-raw: 194,168,0;
  --S800: #8f7c00;
  --S800-raw: 143,124,0;
  --S900: #5c4f00;
  --S900-raw: 92,79,0;
  --T100: #d5f6f2;
  --T100-raw: 213,246,242;
  --T200: #a9efe6;
  --T200-raw: 169,239,230;
  --T300: #64e8d6;
  --T300-raw: 100,232,214;
  --T400: #14e1c6;
  --T400-raw: 20,225,198;
  --T50: #eafaf8;
  --T50-raw: 234,250,248;
  --T500: #00d6b9;
  --T500-raw: 0,214,185;
  --T600: #04b49c;
  --T600-raw: 4,180,156;
  --T700: #078372;
  --T700-raw: 7,131,114;
  --T800: #036356;
  --T800-raw: 3,99,86;
  --T900: #024b41;
  --T900-raw: 2,75,65;
  --V100: #f8def8;
  --V100-raw: 248,222,248;
  --V200: #efb9ef;
  --V200-raw: 239,185,239;
  --V300: #e58fe5;
  --V300-raw: 229,143,229;
  --V400: #db66db;
  --V400-raw: 219,102,219;
  --V50: #fceefc;
  --V50-raw: 252,238,252;
  --V500: #d136d1;
  --V500-raw: 209,54,209;
  --V600: #b220b2;
  --V600-raw: 178,32,178;
  --V700: #8c218c;
  --V700-raw: 140,33,140;
  --V800: #681268;
  --V800-raw: 104,18,104;
  --V900: #460b46;
  --V900-raw: 70,11,70;
  --W100: #d9f3fd;
  --W100-raw: 217,243,253;
  --W200: #b1e8fc;
  --W200-raw: 177,232,252;
  --W300: #7edafb;
  --W300-raw: 126,218,251;
  --W400: #50cefb;
  --W400-raw: 80,206,251;
  --W50: #ecf9fe;
  --W50-raw: 236,249,254;
  --W500: #14c0ff;
  --W500-raw: 20,192,255;
  --W600: #049fd7;
  --W600-raw: 4,159,215;
  --W700: #037eaa;
  --W700-raw: 3,126,170;
  --W800: #006185;
  --W800-raw: 0,97,133;
  --W900: #004761;
  --W900-raw: 0,71,97;
  --Y100: #faf1d1;
  --Y100-raw: 250,241,209;
  --Y200: #f8e6ab;
  --Y200-raw: 248,230,171;
  --Y300: #f7dc82;
  --Y300-raw: 247,220,130;
  --Y400: #fad355;
  --Y400-raw: 250,211,85;
  --Y50: #fdf9ed;
  --Y50-raw: 253,249,237;
  --Y500: #ffc60a;
  --Y500-raw: 255,198,10;
  --Y600: #dc9b04;
  --Y600-raw: 220,155,4;
  --Y700: #aa7803;
  --Y700-raw: 170,120,3;
  --Y800: #795101;
  --Y800-raw: 121,81,1;
  --Y900: #5c3a00;
  --Y900-raw: 92,58,0;
  --line-border-card: var(--N300);
  --icon-border: var(--N300);
  --icon-fill: var(--N600);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
